:root {
    /* Light Theme Variables */
    --background-color: #f4f7fa;
    --text-color: #333;
    --card-background-color: #ffffff;
    --card-header-background-color: #ffffff;
    --table-background-color: #ffffff;
    --table-text-color: #333;
    --toggle-background-color: #ccc;
    --toggle-handle-color: #ffffff;
    --tooltip-background-color: #ffffff;
    --tooltip-text-color: #333;
    --grid-line-color: #eee;
    --legend-text-color: #333;
    --border-color: #ddd;
    --toggle-icon-sun-color: #f39c12; /* Sun icon color */
    --toggle-icon-moon-color: #34495e; /* Moon icon color */
}

body[data-theme="dark"] {
    --background-color: #1C1C1C;
    --text-color: #FAFAFA;
    --card-background-color: #333;
    --card-header-background-color: #2C2C2C;
    --table-background-color: #2C2C2C;
    --table-text-color: #FAFAFA;
    --toggle-background-color: #444;
    --toggle-handle-color: #ffffff;
    --tooltip-background-color: #333;
    --tooltip-text-color: #FAFAFA;
    --grid-line-color: #555;
    --legend-text-color: #FAFAFA;
    --border-color: #444;
    --toggle-icon-sun-color: #888; /* Sun icon color in dark mode */
    --toggle-icon-moon-color: #FAFAFA; /* Moon icon color in dark mode */
}

/* Apply theme variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    padding-top: 0!important;
}

.card, .table, #data-table-container, #table-container {
    
    background-color: var(--card-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto;
}

#data-table-container {
    height: 359px;
    overflow: auto; /* Enables vertical scrolling */
}

/* Hide scrollbar while maintaining scroll functionality for WebKit browsers (Chrome, Safari) */
#data-table-container::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0; /* Remove scrollbar space */
}

/* Hide scrollbar for Firefox */
#data-table-container {
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
#data-table-container {
    -ms-overflow-style: none; /* IE and Edge */
}

.card-header {
    background-color: var(--card-header-background-color);
}

.table {
    width: 100%;
    border-collapse: collapse; /* Ensure there are no gaps between table cells */
    border: none; /* Removes border from the table itself */
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: none; /* Remove bottom border */
    border: none; /* Remove any border from table cells */
}

/* Even rows for the table without borders */
.table tr:nth-child(even) {
    border: none; /* Ensure no borders on even rows */
}

/* Hover effect for better visibility without borders */
.table tr:hover {
    border: none; /* Ensure no borders on hover */
}

.table-scrollable {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding: 10px;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    max-width: 100%;
    min-height: 250px;
    max-height: 300px;
    width: 100%;
    height: auto !important;
}

#selected-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%; /* Prevents the container from exceeding the screen width */
    padding-left: 0%;
}

.selected-chart-card {
    width: 50%; /* Adjust as needed */
    min-height: 300px; /* Set a fixed height */
    background-color: var(--card-background-color); /* Ensure it matches your theme */
    border-radius: 12px;
    overflow: hidden; /* Prevents content overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-card {
    width: 100% !important; /* Ensures the card takes full width */
    transition: width 0.3s ease-in-out; /* Smooth transition effect */
}

#charts-container {
    width: 100%;
}

/* Toggle switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px 0; /* Add some margin for spacing */
}

.slider {
    display: flex; 
    align-items: center;    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-background-color);
    transition: 0.4s;
    border-radius: 34px;
}

/* Sun and Moon icons inside the toggle switch */
.slider .fa-sun, .slider .fa-moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.4s;
}

.slider .fa-sun {
    left: 10px;
    color: var(--toggle-icon-sun-color);
}

.slider .fa-moon {
    right: 10px;
    color: var(--toggle-icon-moon-color);
    opacity: 0; /* Initially hidden */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--toggle-handle-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--toggle-background-color);
}

input:checked + .slider:before {
    transform: translateX(30px);
}

input:checked + .slider .fa-sun {
    opacity: 0; /* Hide sun icon when dark mode is enabled */
}

input:checked + .slider .fa-moon {
    opacity: 1; /* Show moon icon when dark mode is enabled */
}

